button{
    cursor: pointer;
    border: solid 1px rgb(16, 78, 139);
    border-radius: 15px;
    background-color: rgb(47, 154, 204);
    color: rgb(245, 245, 245);
    margin: 3px;
    padding: 8px;   
    margin-top:15px;
}
button:hover{
    border: ridge -3px rgb(207, 236, 255);
    background-color: white;
    color: rgb(47, 154, 204);
}
.card{
    cursor: pointer;
    z-index: 2;
}
.card:hover{
    background-color: rgb(201, 236, 250);
}
.type-border{
    border: solid 1px rgba(11, 12, 12, 0.5);
}
.removeTeam{
    z-index: 1;
    padding: 6px;
}
.fight{
    height: 100%;
    width:10%;
    background-color: rgb(197, 16, 0);
    color : black;
    font-size: 1.2em;
    font-weight: bolder;
}
.looser{
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color : black;
    background-color: rgb(167, 64, 64);
    border: solid 4px rgb(71, 12, 12);
    border-radius: 15px;
    width: 20%;
}
.winner{
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color : black;
    background-color: rgb(148, 238, 106);
    border: solid 4px rgb(10, 82, 28);
    border-radius: 15px;
    width: 20%;
}