<div class='container'>
    <div class="row">
        <button class="fight" routerLink="/pokemons/combat">
           
                Combat !
           
        </button>
    </div>
    <div class="row">
        <h3 class="center">Mon équipe de combat :</h3>
        <div *ngFor='let pokemon of equipe' class="col s6 m4">
            <div class="card horizontal" pkmnBorderCard="teal" (click)="detailPokemon(pokemon)">
                <div class="card-image">
                    <img [src]="pokemon.picture" class="pasmini">
                    <img [src]="pokemon.miniature" class="mini">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.id }}. {{ pokemon.name }}</p>
                        <p class="date"><small>{{ pokemon.created | date: "dd/MM/yyyy" }}</small></p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                            {{ type }}</span>
                        <button (click)="removePokemon(pokemon, $event)" class="removeTeam"> Enlever de l'équipe
                        </button>
                        <!-- <button (click)="detailPokemon(pokemon)"> Détails </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h1 class='center'>Pokémons</h1>
    <div class="row">
        <div *ngFor='let pokemon of pokemons' class="col s6 m4">
            <div class="card horizontal" pkmnBorderCard="skyblue" (click)="detailPokemon(pokemon)">
                <div class="card-image">
                    <img [src]="pokemon.picture" class="pasmini">
                    <img [src]="pokemon.miniature" class="mini">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.id }}. {{ pokemon.name }}</p>
                        <p class="date"><small>{{ pokemon.hpMax }} pv / {{ pokemon.def }} def / {{ pokemon.speed }} speed</small></p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }} type-border">
                            {{ type }}</span>
                        <button (click)="selectPokemon(pokemon); addPokemon(pokemon, $event)"> Ajouter à l'équipe
                        </button>
                        <!-- <button (click)="detailPokemon(pokemon)"> Détails </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>